@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.container h2 {
    color: white;
    text-align: center;
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 1em;
}
.container h3 {
    margin: .4em;
}

.container h4 {
    font-weight: 400;
}
.container h5 {
    font-weight: 300;
}

.ControlButton {
    border: 1px solid black;
    border-radius: .5em;
    margin: .5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 2em;
    background: #cecece;
    border: 1px solid #AFAFAF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.1em;
    transition: all .6s;
}
.ControlButton:hover {
    background-color: #000000;
    color: white;
}
.ItemCard{
    width: 90%;
    height: 4em;
    margin: .5em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 1em;
    border: 1px solid rgb(46, 46, 46);
    padding-left: 15px;
}
.CreateButton{
    margin: auto;
    width: 30%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffd74;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.CreateButton:hover {
    background-color: black;
    color: white;
    opacity: 100%;
    font-size: 1.05em;
}
.GestorCard{
    padding: 1em;
    padding-bottom: 2em;
    margin: 2em auto;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFF01;
    box-shadow: 6px 6px 6px rgba(77, 77, 77, 0.514);
    transition: all .3s;
}
.GestorCard:hover {
    padding: 2em;
}
@media screen and (min-width:768px) {

    .buttons{        
        flex: 0 2 35%;
        order:-1;
    }
    .priceStock{
        display: flex;       
    }
    .priceStock input{        
        margin-top: 1.5rem;
    }    
}