@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body {
    box-sizing: border-box;
    margin:0;
    min-height: 100%;
    background-color:black;
}

.form{
    display: flex;    
    flex-direction: column;    
    margin: 0 auto;
    /* width: 100%; */
    height: 600px;    
}

@media screen and (min-width:768px) { 
    .form {
        flex-direction: row;
        justify-content: center;
        padding: 5rem;
        width: 100%;
    }
}

.inputs{
    display: flex;
    flex-direction: column; 
    background-color:#ffffff;
    color: #949494;
    padding: 4em;
    padding-top: 1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    /* justify-content: space-evenly; */
}


.form input, textarea{    
    background-color:#ececec;
    border-style: none;
    border-radius: .2rem;
    outline: none;
    margin: .5rem 0 .5rem;
    width: 100%;
    padding: 1em;
}

textarea{
    padding-bottom: 2rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color:#ffff01;
    padding: 1rem; 
    text-align: center;
    order:-1;
}

button{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    /* line-height: 50px; */
    align-self: center;
    width:60%;   
    text-decoration: none;  
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imgLogo{
    width: 6em;
    margin: 0 auto;
}

.h3Title{
    font-family: Roboto;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    margin:0;
}
.Multiselect{
    font-family: Roboto;
    font-style: normal;
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
}

.Multiselect input {
    background-color: red;
}


@media screen and (min-width:768px) { 
    .buttons{        
        flex: 0 2 35%;
        max-width: 300px;
        justify-content: space-evenly;            
    }
    .priceStock{
        display: flex;                     
    }
    .priceStock input{        
        margin-top: 1.5rem;                
    }
    .inputs{        
        padding: 4em;
    }
}