html {
    background-color: black;
}
.divResults {
    border: 5px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    padding: 0px 0px 20px 0px;
}